body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 65px;
    line-height: 95px;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
h2{
    font-size: 45px;
    line-height: 65px;
    color: #121212;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}
h3{
    font-size: 24px;
    line-height: 40px;
    color: #121212;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}
p, input{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    color: #707070
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.flex-container{
    display: flex;
    justify-content: center;
}
.wrapper{
    max-width: 1080px;
    box-sizing: border-box;
    padding:50px 0;
}
input:focus-visible{
    outline: none;
}
.half-size{
    width: 50%;
    padding: 15px;
    margin-right: 15px;
}
/**** Header ****/

header{
    background-image: url(../images/donation4.jpg);
    background-size: cover;
    height: 100vh;
    align-items: center;
}
header::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(18,18,18,0.5);
    position: absolute;
}
.header{
    max-width: 826px;
    z-index: 1;
}

header h1{
    color: #ffffff;
}
header p{
    color: #ffffff;
}
.btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #FF5959;
    padding: 15px 30px;
    border-radius: 5px;
    border: none; 
    font-size: 20px;
    display: inline-block;
}

/**** Donate Today ****/
.amount input{
    display: inline-block;
    background-color: #FAFAFA;
    color: #707070;
    border: none;
    padding: 40px 20px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid #FAFAFA;
}
.amount input:hover, .amount .active{
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    transition: 0.5s;   
}
#other-amount{
    width: 100%;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #DADADA;
}
#other-amount:focus-visible, #other-amount:hover{
    border-bottom: 1px solid #FF5959;
    transition: 0.5s;
}
/**** Donate Plan ****/
.dontate-plan-child{
    width: 33%;
    padding: 15px;
    margin-left: 20px;    
}
.bg-1{
    background-color: rgba(79, 157, 166, 0.1);
}
.bg-2{
    background-color: rgba(255, 89, 89, 0.1);
}
.bg-3{
    background-color: rgba(255, 244, 214, 1);
}
/*** Blog ***/
.blog-child{
    margin-bottom: 20px;
}
.blog-child img{
    width: 100%;
}
/** Subscription ***/
.subscription-form{
    background-color: #FFF4D6;
    padding: 60px 0;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}
.subscription-form input{
    padding: 10px;
    background-color: #D9D9D9;
    border: 0px;
}
.subscription-form .btn{
    margin-left: -4px;
    padding: 12px;
    border-radius: 0;
}
/** Footer **/
footer{
    background-color: #0B0D17;
}
footer h3{
    color: #FF5959;
    font-family: 'Lobster', cursive;
}
footer p{
    color: #D9DBE1;
}
.gallery-content{
    display: flex;
    flex-wrap: wrap;
}
.gallery-child{
    width: 300px;
}
.gallery-child img{
    width: 100%;
}

/** Volunteer **/
.volunteer{
    background-image: url(../images/donation10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.volunteer-image img{
    width: 100%;
}
